.product-detail {
    text-align: center;
    padding: 20px;
  }
  
  .detail-image {
    width: 300px;
    border-radius: 10px;
  }
  
  .detail-price {
    color: #e91e63;
    font-weight: bold;
    font-size: 20px;
  }
  